.payment-history-cover{
    background-color: rgb(245, 243, 243);
}
.payment-history-wrapper{
    display: flex;
    padding: 10px;
}
.payment-header{
    font-size: 1.25rem;
    padding: 12px;
    display: flex;
    text-align: center;
    align-items: center;
    margin-bottom: 1rem;
    margin-left: 2rem;
}

.payment-container{
    margin-left: 2rem;
    margin-top: 1rem;
}

.on-time{
    height: 20px;
    width: 20px;
    background-color: rgb(25, 25, 49);
    border-radius: 50%;
    display: inline-block;
    margin-left: 0.095rem;
}

.missed{
    height: 20px;
    width: 20px;
    background-color: rgb(128, 52, 128);
    border-radius: 50%;
    display: inline-block;
    margin-left: 0.095rem;
}

.nodata{
    height: 20px;
    width: 20px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-left: 0.095rem;
}

.on-time-display{
    height: 8px;
    width: 8px;
    background-color: rgb(25, 25, 49);
    border-radius: 50%;
    display: inline-block;
    margin-left: 0.095rem;
}

.missed-display{
    height: 8px;
    width: 8px;
    background-color: rgb(128, 52, 128);
    border-radius: 50%;
    display: inline-block;
    margin-left: 0.095rem;
}

.nodata-display{
    height: 8px;
    width: 8px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-left: 0.095rem;
}

.payment-year{
    color: rgb(47, 68, 68);
    margin: 0.5rem;
}

@media only screen and (max-width: 600px){
    .on-time{
        height: 15px;
        width: 15px;
    }
    
    .missed{
        height: 15px;
        width: 15px;
    }
    
    .nodata{
        height: 15px;
        width: 15px;
    }
}
@media only screen and (max-width: 4720px){
    .on-time{
        height: 10px;
        width: 10px;
    }
    
    .missed{
        height: 10px;
        width: 10px;
    }
    
    .nodata{
        height: 10px;
        width: 10px;
    }
}
