.users-score-container{
    display: flex;
    align-self: center;
    justify-content: center;
    color: white;
}

.user-score-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.users-score-display{
    margin-right: 7rem;
}

.score-number{
    font-size: 1.5rem;
    font-weight: bold;
}

.users-scores-number{
    font-size: 3rem;
    
}

@media only screen and (max-width: 600px) {
    .users-score-display{
        margin-right: 2rem;
    }
    .score-text{
        font-size: 0.85rem;
    }
}